<div class="row">

    <div class="col">
        <h2>*ngIf</h2>
        <hr>
        <div *ngIf="mostrar" class="card text-white bg-primary mb-3" style="width: 100%;">
            <div class="card-body">
                <h5 class="card-title">
                    <p>{{ frase.autor }}</p>
                </h5>
                <p class="card-text">{{frase.mensaje}}</p>
            </div>
        </div>
        <button (click)="mostrar = !mostrar" class="btn btn-outline-primary btn-block">
            Mostrar/Ocultar
        </button>

        <hr>

        <h2>Ejercicio *ngIf</h2>
        <hr>
        <div *ngIf="ocultar" class="card text-white bg-primary mb-3" style="width: 100%;">
            <div class="card-body">
                <h5 class="card-tittle">

                    <p>{{ dialogo.actor }}</p>

                </h5>
                <p class="card-text">{{ dialogo.grito }}</p>

            </div>

        </div>
        <button (click)="ocultar = !ocultar" class="btn btn-outline-danger btn-block">

            Mostrar/Ocultar

        </button>
    </div>


    <div class="col">
        <h2>*ngFor</h2>
        <hr>
        <ul class="list-group">
            <li *ngFor="let personaje of personajes; let i= index" class="list-group-item">
                {{ i + 1 }} - {{personaje}}
            </li>

        </ul>

        <hr>
        <h2>Ejercicio con *ngFor</h2>
        <hr>
        <ul class="list-group">
            <li *ngFor="let gato of gatos; let i = index" class="list-group-item">

                {{ i + 1 }} - {{gato}}

            </li>
        </ul>


    </div>

</div>